/* csshome.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start;
    min-height: 100vh;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    position: relative; /* Adiciona para posicionar o botão de logout */
}

h1, h2 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
}

button#logoutBtn {
    background-color: #dc3545; /* Cor de fundo vermelha para o botão de logout */
    margin-bottom: 0; /* Remove a margem inferior */
}

button#logoutBtn:hover {
    background-color: #c82333; /* Cor de fundo vermelha mais escura para o hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

li h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-bottom: 5px;
    border-bottom: 2px solid #007bff; /* Linha de destaque abaixo do título */
}

li p {
    margin: 0;
    color: #666;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 15px;
        max-width: 100%;
    }

    button {
        font-size: 14px;
    }

    h1, h2 {
        font-size: 20px;
    }

    li h3 {
        font-size: 16px;
    }

    button#logoutBtn {
        width: auto; /* Ajusta a largura do botão de logout */
        padding: 8px;
        background-color: transparent; /* Torna o fundo do botão transparente */
        border: none;
        color: #dc3545;
        font-size: 20px; /* Aumenta o tamanho da fonte */
    }

    button#logoutBtn::before {
        content: '🚪'; /* Adiciona um ícone de saída */
        font-size: 24px; /* Ajusta o tamanho do ícone */
        display: inline-block;
        margin-right: 8px; /* Espaço entre o ícone e o texto */
    }

    button#logoutBtn:hover {
        color: #c82333; /* Cor do texto quando o botão é clicado */
    }
}
